@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import './styles/firstpage.css';
@import './styles/login.css';
@import './styles/main.css';
@import './styles/project.css';
@import './styles/profiles.css';
/* @import './styles/projectdetails.css'; */
@import "./styles/addproject.css";
@import "./styles/preferencepage.css";

/* Project details styles */
@import "./styles/project-details.css";
@import "./styles/margin.css";
@import "./styles/grid.css";
@import "./styles/padding.css";
@import "./styles/discussion-board.css";
@import "./styles/loading.css";


:root {
    --background-color: #0E1011;
    --button-background: #1C1D1E;
    --button-text-color: #e2e2e2;
    --placeholder-text-color: #a4a4a4;
    --input-background: #282828;
    --input-border: #626262;
    --anchor-color: #ffffff; /* Purple color, replace with desired color */
    --element-height: clamp(
        200px,
        44vw,
        1440px
    ); /* Height scales between 200px and 600px based on viewport width */

    --font-size-xxs: 0.5rem;   /* Extra extra small */
    --font-size-xs: 1rem;      /* Extra small */
    --font-size-sm: 1.5rem;    /* Small */
    --font-size-md: 2rem;      /* Medium */
    --font-size-lg: 2.5rem;    /* Large */
    --font-size-xl: 3rem;      /* Extra large */
    --font-size-xxl: 3.5rem;   /* Extra extra large */
    --font-size-xxxl: 4rem;    /* Extra extra extra large */

    --font-size-largest: 4.5rem;

    --border-color: #383838;
    --border-radius-std: 10px; /* Standard */

    --accent-colour: #AF0880;

    --beginner-colour: #214b2f;
    --intermediate-colour: #5d5d25;
    --advanced-colour: #582727;

}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    zoom: 0.6; /* 90% zoom */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset; /*your box-shadow*/
    -webkit-text-fill-color: #333;
}

::selection {
    background-color: #b32f92; /* Change the highlight color */
    color: #f9cfee; /* Change the text color inside the selection */
}
