@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@import './styles/firstpage.css';
@import './styles/login.css';
@import './styles/main.css';
@import './styles/project.css';
@import './styles/projectdetails.css';



:root {
  --background-color: #000000;
  --button-background: #121212;
  --button-text-color: #626262;
  --input-background: #282828;
  --input-border: #626262;
  --border-radius: 10px;
  --anchor-color: #FFFFFF; /* Purple color, replace with desired color */
  --button-background2: #000000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;/*your box-shadow*/
  -webkit-text-fill-color: #333;
} 


