@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.discussion-input {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px 0;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 5rem;
    padding-top: 5rem !important;
    height: 100px;
}
.discussion-input input {
    position: relative;
    border: none;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    font-size: var(--font-size-sm);
}

.discussion-input input:hover {
    padding-bottom: 1rem;

    border-bottom: 1px solid white;
    background-color: transparent;
}

.discussion-input input:focus {
    padding-bottom: 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #444444;
    background-color: transparent;
}

/* input placeholder */
.discussion-input label {
    position: absolute;
    top: 35%;
    left: 3%;
    transform: translateY(-50%);
    font-size: var(--font-size-sm);
    color: #ffffff;
    padding: 1.6rem;
    pointer-events: none;
    transition: 0.5s;
}

.discussion-input input:focus ~ label,
.discussion-input input:valid ~ label {
    top: 20%;
    font-size: var(--font-size-xs);
    color: #858282;
}

.discussion-input button {
    position: absolute;
    background: transparent;
    border: solid;
    border-width: 1px;
    color: #ffffff;
    font-size: var(--font-size-sm);
    height: 1rem;
    width: 8rem;
    right: 4%;
    padding-bottom: 2.5rem;
    padding-top: 1rem;
    top: 65%;
    text-align: center;
    border-radius: 0.5rem;
    transition: border-color 0.25s ease;
    transition: color 0.25s ease;
}

.discussion-input button:hover {
    color: #858282;
    border-color: #858282;
}

/* comment section css */
.comment-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: var(----background-color);
    border-radius: 10px;
    padding: 2rem;
}
.comment-form {
    background-color: var(----background-color);
    font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.comments {
    border: 1px solid var(--border-color);
    margin-left: 0rem;
}

.comment-container {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding-right: 1.5rem;
    padding-bottom: 4rem;
    margin-top: 2rem;
    width: 100%;
  
}

.comment {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
}

.posted-comments-container{
    width:100%;
    margin-left: -2.3rem;
}

.placeholders {
    color: #181818;
}

.vote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    height: 130px;
    width: 45px;
}

.vote button {
    /* position: ; */
    background-color: transparent;
    border: none;
    transition: color 0.25s ease;
}

.vote button:hover
 {
    transform: scale(1.01);
    color: #858282;
 }

 .vote-count {
    margin-top: 1rem;
    margin-bottom: 1rem;
 }


.reply-btn {
    display: flex;
    flex-direction: row;
    width: 60px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    align-items: center;
    margin-top: 0.75rem;
    margin-left: -0.5rem;
    font-size: var(--font-size-xs);
    transition: color 0.25s ease;
}

.reply-btn:hover {
    color: #858282;
}
