@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.login-container {
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-page {
    position: relative;
    z-index: 1;
}

.registration-container {
    align-items: center;
    justify-content: center;
    margin-top: 14rem;
    max-width: 50rem;
    height: 100%; /* Ensure it fills the parent container */
}

.login-title {
    display: flex;
    align-items: center;
    color: var(--white-in-dark-theme) !important;
    font-size: var(--font-size-xxl);
    padding: 0px;
    margin-top: 32px;
    margin-bottom: 2rem;
    justify-content: center;
}

.custom-container {
    display: flex;
    border-style: none !important;
    font-family: "Montserrat";
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    padding: 20px;
    margin-bottom: 2rem !important;
}

/* My name is Abeer and I dislike supabase CSS a lot*/

/* Controls CSS borders  */
.c-bOcPnF {
    border-style: none !important;
    background-color: var(--accent-colour) !important;
}

/*Container for length of providers and submit button */
.c-jTXIoq {
    width: 600px;
    align-items: center;
}

/* Controls width of the two input fields of form */
.c-dEnagJ {
    width: 600px !important;
    align-items: center;
}


/* Controls font size of the Sign In/Up button */
.c-bOcPnF {
font-size: var(--font-size-sm) !important;
}

.custom-button {
    position: relative;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    cursor: pointer;
    border:none;
    width: 600px;
    height: 70px;
    margin-bottom: 10px;
    background-color: var(--button-background) !important;
    color: var(--button-text-color);
    overflow: hidden; /* Hide the overflow of the pseudo-element */
    display: flex;
    align-items: center; /* Vertically center items */
    justify-content: center; /* Horizontally center items */
    font-size: var(--font-size-sm);
    text-align: center; /* Center the text horizontally */
}

.c-eSSyNk {
    width: 36px !important;
    height: 36px !important;
    margin-right: 1rem !important;
}

/* Background shape for the top right */
.top-right-shape {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    max-width: 600px;
    height: auto;
    opacity: 0.7;
    z-index: -9999999; /* Behind other content */
}

/* Background shape for the bottom left */
.bottom-left-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
    max-width: 900px;
    height: auto;
    opacity: 0.7;
    z-index: -9999999; /* Behind other content */
}

.custom-button:hover::before {
    right: 0;
}

.custom-button:hover {
    filter: brightness(1.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3) !important;
    transform: scale(1.01); /* Makes the element 5% larger */
}

.supabase-auth-ui_ui-button {
    color: var(--button-text-color); /* Keeps text color on hover */
    z-index: 1000; /* Ensures button text is on top */
}

.supabase-auth-ui_ui-container {
    padding: 0px;
    margin: 5px;
}

.custom-input {
    border: none;
    margin-bottom: 10px;
    border-radius: var(--border-radius);
    width: 580px;
    height: 70px;
    background-color: var(--input-background);
    color: var(--button-text-color);
    padding-left: 15px;
    font-weight: 500;
    font-size: var(--font-size-sm) !important;
}


.custom-input::placeholder {

    color: var(--placeholder-text-color);
    font-size: var(--font-size-sm);
}


.custom-anchor {
    color: var(--anchor-color) !important;
    text-decoration: none !important;
    margin-top: 1rem !important;
    font-size: var(--font-size-sm) !important;
    margin-bottom: -1rem !important; 
}

.custom-anchor:hover {
    text-decoration: underline !important;
    color: var(--accent-colour) !important;
}

.custom-label {
    font-weight: 600 !important;
    font-size: var(--font-size-sm) !important;
    margin-bottom: 5px;
}

.custom-message {
    font-size: 200;
}

.login-back-button {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #121212 !important;
    color: #838383 !important;
    border: 1px solid #333333 !important;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.back-button:hover {
    background-color: #2e2e2e !important;
    border-color: #bbb !important;
}

.back-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
