@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.main-container {
    padding-bottom: 100px;
    /* Adds space at the bottom */
    position: relative;
    /* Ensure the container is in a stacking context */


}

.heading-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-bottom: 5rem;
    padding: 14rem;
    border-radius: 32px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;

}

.heading-background {
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 0;
    /* Keep the background below everything */
}

.heading-content {
    margin-top: -4rem;
    position: relative;
    align-items: center;
    display: flex;
    z-index: 2;
    flex-direction: column;
    /* Ensure this is above both the background and the project tiles */
}

.main-h2 {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
}

.nav-bar {
    margin-top: 2rem;
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
    align-items: center;
    background-color: #000000;
    z-index: 8;
}

.logo {
    width: 175px;
}

.log-out-button {
    position: relative;
    margin-left: auto;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    cursor: pointer;
    border: 0.5px solid var(--button-text-color);
    width: 150px;
    height: 42px;
    margin-bottom: 10px;
    background-color: var(--button-background2);
    color: var(--button-text-color);
    overflow: hidden;
    /* Hide the overflow of the pseudo-element */
    display: flex;
    align-items: center;
    /* Vertically center items */
    justify-content: center;
    /* Horizontally center items */
    font-size: 16px;
    text-align: center;
    /* Center the text horizontally */
}

.log-out-button::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    transition: right 0.1s ease-in-out;
    z-index: -999;
}

.log-out-button:hover::before {
    right: 0;
}

.log-out-button:hover {
    filter: brightness(1.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    transform: scale(1.01);
    /* Makes the element 5% larger */
}