@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.main-container {
    padding-bottom: 100px;
    /* Adds space at the bottom */
    position: relative;
    /* Ensure the container is in a stacking context */
}

.heading-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-bottom: 5rem;
    padding: 14rem;
    border-radius: 32px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.heading-background {
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    width: 100%;
    height: 100%;
    background-color: #000000 !important;
    z-index: 0;
    /* Keep the background below everything */
}

.heading-content {
    margin-top: -4rem;
    position: relative;
    align-items: center;
    display: flex;
    z-index: 2;
    flex-direction: column;
    /* Ensure this is above both the background and the project tiles */
}

.main-h2 {
    font-size: 48px;
    font-weight: 600;
    font-size: 4rem !important;
    letter-spacing: 2px;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255) !important;
}

.nav-bar {
    position: sticky !important;
    padding: 1rem;
    margin-top: 0.5rem;
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
    top: 28px;
    align-items: center;
    border-radius: 48px;
    z-index: 8;
    border: 2px solid rgb(56, 56, 56);
    justify-content: space-between;
    align-items: center; /* Aligns items vertically in the center */
    background-color: var(--background-color);
}

.logo {
    width: 150px;
    margin-left: 1.5rem;
    margin-top: 8px;
}

.log-out-button {
    position: relative;
    padding: 1rem 1rem;
    border-radius: 32px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    background-color: var(--background-color);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    transition: background-color 0.75s ease;
    transition: color 0.75s ease;
    border: 1px solid rgb(56, 56, 56);
    margin-right: 1rem;
}

.nav-buttons-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.log-out-button:hover {
    /* filter: brightness(0.8);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); */
    background-color: #151b23;
    color: #fff;
}

.nav-buttons {
    margin-left: auto;
}

.create-project-button {
    position: relative;
    display: inline-block;
    margin-left: auto;
    padding: 15px 28px;
    border: none;
    background: transparent;
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 32px;
    transition: transform 0.2s ease;
    text-decoration: none;
}

.create-project-button:hover {
    filter: brightness(1.2); /* Slightly brighten the text */
    background-color: #151b23;
}

.ai-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ai-tag {
    background-color: white !important;
    background-color: rgb(198, 198, 198);
    padding: 6px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 8px;
    margin-right: 9px;
}

.more-btn {
    background: none;
    border: none;
    color: rgb(163, 163, 163);
    cursor: pointer;
    text-decoration: underline;
    padding: 8px;
    font-size: 1rem;
}

@media (max-width: 480px) {
    .more-btn {
        display: block;
        margin-top: 8px; /* Adds space above the button */
    }
}
