.profile-page{
        color: #fff;
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        max-width: 1000px;
        margin: 4rem auto;
        animation: fadeIn 1s forwards;
}

.profile-page h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}



.profile-heading{
    font-size: 3rem;
}


.saved-heading {
    display: block;
}

.outer-saved-section-div {
    gap: 1rem;
    max-width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;

}
