.profile-page{
        color: var(--white-in-dark-theme);
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        max-width: 1200px;
        margin: 4rem auto;
        animation: fadeIn 1s forwards;
}

.profile-title {
    font-size: var(--font-size-xl);
    font-weight: 700;
    margin-bottom: 1.5rem;
}



.profile-heading{
    font-size: var(--font-size-xl);
}


.saved-heading {
    display: block;
    font-size: var(--font-size-md);
}
