@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
        /* Optional: small upward movement */
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.projects-container {
    border-radius: 8px;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    gap: 24px;
    flex-wrap: wrap; /* Allow items to wrap onto new lines */
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
    align-items: center;
    justify-content: center;
}

.project-container {
    width: 14.36rem;
    /* Fixed width */
    height: 13rem;
    /* Fixed height */
    border-radius: 4px;
    padding: 24px;
    background-color: #f9f9f9;
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    /* Stack title and tech vertically */
    justify-content: flex-start;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.projects-container .project-row:nth-child(3n+2) {
    margin-top: 5rem;
  }

.project-container:hover {
    filter: brightness(1.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    transform: scale(1.01); /* Makes the element 5% larger */
}


.project-title {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    max-width: 50%;
    /* Adjust as needed to fit within container */
    margin-bottom: auto;
    /* Pushes the .project-tech to the bottom */

}

.project-tech {
    display: flex;
    gap: 10px;
    margin-top: auto;
    /* Ensures this sticks to the bottom */

}

.tech-item {
    font-size: 12px;
    color: #000000;
    background-color: #e0e0e0;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 800;
}

.project-row {
    display: block;
    justify-content: space-between;
    padding: 10px;
}

/* Modal overlay for background blur */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(8px); /* Blurs the background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure modal is on top */
  }
  
  /* Modal content */
  .modal-content {
    background: #121212;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 50rem;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    position: relative; /* Required for positioning the close button */
  }
  
  /* Close button */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .close-button:hover {
    background-color: darkred;
  }

  .lowered{
    margin-top: 2rem;
  }