@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
        /* Optional: small upward movement */
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.details-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Used for tech stack, difficulty level, and similar project blocks */
.sidebar-container {
    background-color: #151B23;
    border-radius: 15px;
    width: 26rem;
    padding: 2rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
}

.tech-stack-details:nth-child(1) {
    text-align: center;
}

.tech-images-div-container {
    display: flex;
    justify-content: space-between;
    /* Space between the tech items */
    gap: 20px;
    /* Optional: add some space between each tech div */
    margin-left: 50px;
    margin-right: 50px;
}

.tech-images-div {
    display: flex;
    flex-direction: column;
    /* Stack image and text vertically */
    align-items: center;
    /* Center them horizontally */
    justify-content: center;
}

.tech-image {
    width: 80px;
}

.tech-stack-details {
    margin-top: 10px;
    /* Optional: Add some space between image and text */
    text-align: center;
    /* Center the text */
}

.comment-form {
    background-color: #151B23;
    font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
}

.comment-container {
    border-radius: 15px;
    padding-left: 2rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
    width: 700px;
    margin: 1rem;
}

.details-container {
  flex: 1; /* Take up remaining space on the left side */
  display: flex;
  flex-direction: column;
}

.details-title {
    display: block;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.details-subtitle {
    font-size: 1.2rem;
    width: calc(var(--element-height) * 2);
}

.details-heading {
    padding: 2.5rem;
    margin-bottom: 2rem;
}

.youtube-embed-iframe {
    border-radius: 15px;
    margin-bottom: 2rem;
    height: var(--element-height);
    width: calc(var(--element-height) * 2);
    /* Width is three times the height */
}



.title-and-description {}

.embed-container {
    display: flex;
    animation: fadeIn 1s forwards;
    padding-right: 2rem;
    align-items: center;
    justify-content: center;
}


.github-container {
    display: flex;
    padding: 2rem;
    background-color: #151B23;
    width: 26rem;
    border-radius: 15px;
    text-decoration: none;
    /* Remove underline from the link */
    color: inherit;
    /* Inherit text color from parent */
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-bottom: 2rem;
}

.github-container:hover {
    background-color: #2C3E50;
    transform: scale(1.01);
}

.github-container .tooltip {
    display: none;
    position: absolute;
    bottom: 100%;
    /* Position above the container */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    white-space: nowrap;
    /* Prevent text wrapping */
    font-size: 0.875rem;
    z-index: 10;
}

.github-container:hover .tooltip {
    display: block;
}

.github-logo {
    height: 4rem;
    width: auto;
}

.github-name {
    font-size: 1rem;
}

.github-description {
    font-size: 1rem;
}

.github-additional-information {
    display: flex;
    justify-content: space-between;
    width: auto;
    /* Adjust the width to fit content */
    height: auto;
    /* Adjust the width to fit content */
    margin: 0;
    /* Remove any default margin */
    padding: 0;
    /* Remove any default padding */
}

.github-additional-information p {
    margin: 0;
    /* Remove margin from <p> elements */
    padding: 0;
    /* Remove padding from <p> elements */
}