@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
        /* Optional: small upward movement */
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.details-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Used for tech stack, difficulty level, and similar project blocks */
.sidebar-container {
    background-color: none;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    width: 26rem;
    padding: 2rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
}

.tech-stack-details:nth-child(1) {
    text-align: center;
}

.tech-images-div-container {
    display: flex;
    justify-content: space-between;
    /* Space between the tech items */
    gap: 20px;
    /* Optional: add some space between each tech div */
    margin-left: 50px;
    margin-right: 50px;
}

.tech-images-div {
    display: flex;
    flex-direction: column;
    /* Stack image and text vertically */
    align-items: center;
    /* Center them horizontally */
    justify-content: center;
    cursor: pointer;
}

.tech-images-div:hover {
    transform: scale(1.15);
}

.tech-image {
    width: 80px;
}

.tech-stack-details {
    margin-top: 10px;
    /* Optional: Add some space between image and text */
    text-align: center;
    /* Center the text */
}

.tech-stack-subtitle {
    margin-top: -0.6rem;
    margin-bottom: 2rem;
}

.details-container {
    flex: 1;
    /* Take up remaining space on the left side */
    display: flex;
    flex-direction: column;
}

.details-title {
    display: block;
    font-size: var(--font-size-xxl);
    color: var(--white-in-dark-theme);
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

.details-subtitle {
    font-size: var(--font-size-sm);
    color: var(--white-in-dark-theme);
    width: calc(var(--element-height) * 2);
}

.details-heading {
    padding: 2.5rem;
    margin-bottom: 2rem;
}

.youtube-embed-iframe {
    border-radius: 8px;
    margin-bottom: 2rem;
    height: var(--element-height);
    width: calc(var(--element-height) * 2);
    /* Width is three times the height */
}

.title-and-difficulty-container {
    display: flex;
    align-items: center;
}

.difficulty-pill {
    margin-left: 2rem;
    padding: 0.5rem 2rem;
    margin-top: 1.25rem;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    font-size: var(--font-size-sm);
}

.difficulty-pill.beginner {
    background-color: var(--beginner-colour);
}


.difficulty-pill.intermediate {
    background-color: var(--intermediate-colour);
}


.difficulty-pill.advanced {
    background-color: var(--advanced-colour);
}

/* Container for the video and overlay */
.youtube-container {
    position: relative;
    display: inline-block;
}

.youtube-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.76);
    color: var(--white-in-dark-theme);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.lock-unlock-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

.overlay-text {
    font-size: var(--font-size-xs);
    margin-top: 0.5rem;
    transition: all 0.3s ease;
}


.youtube-overlay:hover .overlay-click-text {
    opacity: 1;
}

.youtube-overlay:hover .lock-icon {
    display: none;
}

.youtube-overlay:hover .unlock-icon {
    display: block;
}



.overlay-text,
.overlay-click-text {
    font-size: var(--font-size-xs);
    margin-top: 0.5rem;
    transition: opacity 0.3s ease;
}

.overlay-click-text {
    opacity: 0;
}

.lock-icon,
.unlock-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
}

.unlock-icon {
    display: none;
}

.youtube-embed-iframe {
    border-radius: 8px;
    margin-bottom: 2rem;
    height: var(--element-height);
    width: calc(var(--element-height) * 2);
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -5rem;
}


.embed-container {
    display: flex;
    animation: fadeIn 1s forwards;
    padding-right: 2rem;
    align-items: center;
    margin-left: 5rem;
    justify-content: center;
}

.github-container {
    display: flex;
    padding: 2rem;
    background-color: var(--blue-grey);
    width: 26rem;
    border-radius: 8px;
    text-decoration: none;
    /* Remove underline from the link */
    color: inherit;
    /* Inherit text color from parent */
    transition:
        transform 0.3s ease,
        background-color 0.3s ease;
    margin-bottom: 2rem;
}

.github-container:hover {
    background-color: var(--blue-grey-hover);
    transform: scale(1.01);
}

.github-container .tooltip {
    display: none;
    position: absolute;
    bottom: 100%;
    /* Position above the container */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: var(--white-in-dark-theme);
    padding: 0.5rem;
    border-radius: 5px;
    white-space: nowrap;
    /* Prevent text wrapping */
    font-size: var(--font-size-xs);
    z-index: 10;
}

.github-container:hover .tooltip {
    display: block;
}

.github-logo {
    height: 4rem;
    width: auto;
}

.github-name {
    font-size: var(--font-size-xs);
}

.github-description {
    font-size: var(--font-size-xs);
}

.additional-information-container {
    margin-top: 2rem;
}

.github-additional-information {
    display: flex;
    justify-content: space-between;
    width: auto;
    /* Adjust the width to fit content */
    height: auto;
    /* Adjust the width to fit content */
    margin: 0;
    /* Remove any default margin */
    padding: 0;
    /* Remove any default padding */
}

.github-additional-information p {
    margin: 0;
    /* Remove margin from <p> elements */
    padding: 0;
    /* Remove padding from <p> elements */
}

.button-container {
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
}

.save-and-like-button {
    display: flex;
    flex-direction: row;
    font-size: var(--font-size-sm);
    background-color: var(--background-color);
    align-items: center;
    margin-right: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    transition: transform 10s ease;
    transition: background-color 0.3s ease;
}

.save-and-like-button:hover {
    filter: brightness(1.2);
    transform: scale(1.01);
    cursor: pointer;
}

.saved {
    background-color: var(--accent-colour);
}


.save-and-like-button.save .project-details-button-text {
    color: var(--white-in-dark-theme); /* Text color for the 'save' state */
}

/* CSS for the 'saved' state */
.save-and-like-button.saved .project-details-button-text {
    color: white; /* Text color for the 'saved' state */
}

.like-fav-icon {
    width: 20px;
    margin-right: 12px;
    align-items: center;
    justify-content: center;
}

.comments {
    margin-left: -2.6rem;
}

.project-details-button-text {
    margin: 1rem;
}

.existing-comment-header {
    font-size: var(--font-size-sm);
}

.existing-comment-body {
    font-size: var(--font-size-sm);
}

body.modal-open {
    overflow: hidden;
}
/* Modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Dimmed background */
    z-index: 1000;
}

/* Drawer-style modal content */
.modal-content {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-in-dark-theme) !important;
    padding: 20px;
    z-index: 1001;
    transform: translateX(100%); /* Start off-screen */
    transition: transform 0.3s ease-in-out;
    overflow-y: auto; /* Add this line */
    color: white;
}

/* Show the modal by sliding in */
.modal-open .modal-content {
    transform: translateX(0); /* Slide in */
}

.growing-modal {
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    max-height: 0;
    opacity: 0;
}

.modal-open .growing-modal {
    max-height: 1000px;
    opacity: 1;
}

/* Close button styling */
.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    color: var(--white-in-dark-theme);
    cursor: pointer;
}

.what-is-it-content {
    width: 95%;
    font-size: var(--font-size-sm);
    text-align: left;
}

.common-use-ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.modal-header {
    text-align: left;
    margin-bottom: 0;
    font-size: var(--font-size-md);

}

.modal-main-header {
    text-align: left;
    margin-bottom: 0;
    font-size: var(--font-size-xxl);
}


.common-use-li {
    background-color: none;
    color: var(--white-in-dark-theme);
    font-size: var(--font-size-sm);
    width: 100%;
    padding: 20px 22px;
    border-radius: 5px;
    margin: 0;
    display: flex;
    border: 1px solid var(--border-color);
    text-align: left !important;
    align-items: center;
}


.av-dv-ul {
    list-style-type: none;
    /* Remove bullets */
    padding: 0;
    display: flex;
    /* Enable flexbox */
    flex-wrap: wrap;
    /* Allow items to wrap to the next line */
    gap: 10px;
    /* Space between items */
}

.advantage-container,
.disadvantage-container {
    display: flex;
    flex-direction: column;
}

.advantage-container {
    margin-right: 3rem;
}

.tech-title {
    font-size: var(--font-size-lg);
    align-items: center;
    justify-content: center;
    text-align: center !important;
}

.res-link {
    color: var(--white-in-dark-theme);
    font-weight: 500;
}

.resources-ul {
    margin-bottom: 6rem;
    list-style-type: none;
}

.resources-ul li {
    font-size: var(--font-size-sm);
    margin-bottom: 10px;
    text-align: left;
    margin-left: -1rem;
}

.resources-ul li a {
    text-decoration: none;
    color: var(--accent-colour);
    font-weight: bold;
    transition: color 0.3s;
    /* Add a smooth transition effect */
}

.resources-ul li a:hover {
    color: #005bb5;
    /* Change color on hover */
}

.growing-modal {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0;
    /* start collapsed */
}

.modal-overlay .growing-modal {
    max-height: 2000px;
    /* or some upper limit */
}