@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
        /* Optional: small upward movement */
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.details-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Used for tech stack, difficulty level, and similar project blocks */
.sidebar-container {
    background-color: #151b23;
    border-radius: 15px;
    width: 26rem;
    padding: 2rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
}

.tech-stack-details:nth-child(1) {
    text-align: center;
}

.tech-images-div-container {
    display: flex;
    justify-content: space-between;
    /* Space between the tech items */
    gap: 20px;
    /* Optional: add some space between each tech div */
    margin-left: 50px;
    margin-right: 50px;
}

.tech-images-div {
    display: flex;
    flex-direction: column;
    /* Stack image and text vertically */
    align-items: center;
    /* Center them horizontally */
    justify-content: center;
    cursor: pointer;
}

.tech-images-div:hover {
    transform: scale(1.15);
}

.tech-image {
    width: 80px;
}

.tech-stack-details {
    margin-top: 10px;
    /* Optional: Add some space between image and text */
    text-align: center;
    /* Center the text */
}

.tech-stack-subtitle{
    margin-top: -0.6rem;
    margin-bottom: 2rem;
}

.details-container {
    flex: 1; /* Take up remaining space on the left side */
    display: flex;
    flex-direction: column;
}

.details-title {
    display: block;
    font-size: var(--font-size-xxl);
    margin-bottom: 1rem;
}

.details-subtitle {
    font-size: var(--font-size-sm);
    width: calc(var(--element-height) * 2);
}

.details-heading {
    padding: 2.5rem;
    margin-bottom: 2rem;
}

.youtube-embed-iframe {
    border-radius: 15px;
    margin-bottom: 2rem;
    height: var(--element-height);
    width: calc(var(--element-height) * 2);
    /* Width is three times the height */
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -5rem;
}

.embed-container {
    display: flex;
    animation: fadeIn 1s forwards;
    padding-right: 2rem;
    align-items: center;
    margin-left: 5rem;
    justify-content: center;
} 

.github-container {
    display: flex;
    padding: 2rem;
    background-color: #151b23;
    width: 26rem;
    border-radius: 15px;
    text-decoration: none;
    /* Remove underline from the link */
    color: inherit;
    /* Inherit text color from parent */
    transition:
        transform 0.3s ease,
        background-color 0.3s ease;
    margin-bottom: 2rem;
}

.github-container:hover {
    background-color: #2c3e50;
    transform: scale(1.01);
}

.github-container .tooltip {
    display: none;
    position: absolute;
    bottom: 100%;
    /* Position above the container */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    white-space: nowrap;
    /* Prevent text wrapping */
    font-size: 0.875rem;
    z-index: 10;
}

.github-container:hover .tooltip {
    display: block;
}

.github-logo {
    height: 4rem;
    width: auto;
}

.github-name {
    font-size: 1rem;
}

.github-description {
    font-size: var(--font-size-xs);
}

.github-additional-information {
    display: flex;
    justify-content: space-between;
    width: auto;
    /* Adjust the width to fit content */
    height: auto;
    /* Adjust the width to fit content */
    margin: 0;
    /* Remove any default margin */
    padding: 0;
    /* Remove any default padding */
}

.github-additional-information p {
    margin: 0;
    /* Remove margin from <p> elements */
    padding: 0;
    /* Remove padding from <p> elements */
}

.button-container {
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
}

.save-and-like-button {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    background-color: #151b23;
    align-items: center;
    margin-right: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 8px;
    border: none;
    transition: transform 10s ease;
    transition: background-color 0.3s ease;
}

.save-and-like-button:hover {
    filter: brightness(1.2);
    transform: scale(1.01);
    cursor:pointer;
}

.saved {
    background-color: #AF0880;
}

.like-fav-icon {
    width: 20px;
    margin-right: 12px;
    align-items: center;
    justify-content: center;
}

.comments {
    margin-left: -2.6rem;
}

.existing-comment-header {
    font-size: 1.5rem;
}

.existing-comment-body {
    font-size: 1.5rem;
}

body.modal-open {
    overflow: hidden;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    overflow-y: auto;
   
    overflow: hidden;

}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 82%;
    max-height: 150vh; /* Ensure modal stays within viewport and can scroll */
    align-items: center;
    max-width: 2500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.close-button {
    background: none;
    border: none;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}


.what-is-it-content{
    width: 95%;
    font-size: 1.25rem;
}

.common-use-ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove default padding */
    display: flex; /* Enable flexbox */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 10px; /* Space between items */
}

.common-use-li {
    background-color: #151b23; /* Dark blue background */
    color: white; /* White text color */
    width: 200px;
    padding: 21px 22px; /* Add padding inside the box */
    border-radius: 5px; /* Optional: rounded corners */
    margin: 5px 0; /* Space between items vertically */
    display: flex; /* Keep the list items flex for alignment */
    justify-content: center; /* Center the text horizontally */
    text-align: center;
    align-items: center; /* Center the text vertically */
}

.advantage-disadvantage-container{
    display: flex;
}

.av-dv-ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove default padding */
    display: flex; /* Enable flexbox */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 10px; /* Space between items */
}

.advantage-container, .disadvantage-container {
    display: flex;
    flex-direction: column;
}

.advantage-container{
    margin-right: 3rem;
}

.tech-title{
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
    text-align: center !important;
}

.res-link {
    color: white;
    font-weight: 500;
}

.growing-modal {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0; /* start collapsed */
}

.modal-overlay .growing-modal {
    max-height: 1000px; /* or some upper limit */
}